{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberFlix</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="container">
        <h1 class="neon-text">Terabox Player</h1>

        <input type="text" id="linkInput" placeholder="Enter your video link">
        <button class="neon-button" onclick="generateLink()">Generate & Play</button>

        <div class="video-container">
            <iframe id="videoFrame"></iframe>
        </div>
    </div>

    <footer>
        <p class="neon-footer">© 2025 Strawhat Luffy. All Rights Reserved.</p>
    </footer>

    <script src="{% static 'scripts.js' %}"></script>

</body>
</html>
